@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root {
  --bg-color: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --f-family: 'Outfit', sans-serif;
  --f-weight-400: 400;
  --f-weight-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);

  min-height: 95svh;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  position: relative;
  text-align: center;
}

.card-container {
  background-color: white;
  border-radius: 0.625rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 20rem;
  min-height: 31.1875rem;
  gap: 0.5rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  border-radius: 1.5rem;
  padding: 1rem;
}

.card-description {
  font-family: var(--f-family);

  padding: .8rem 1.8rem 0;
}

.card-container p:nth-child(1) {
  font-weight: var(--f-weight-700);
  font-size: 1.375em;
  color: var(--slate-900);

  margin-bottom: 1rem;
}

.card-container p:nth-child(2) {
  font-size: 0.9375em;
  color: var(--slate-500);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .8em;
  color: var(--slate-500);
}

footer a {
  color: var(--slate-500);
}

footer a:hover {
  color: black;
}